@use '../../global/vars' as *;

:host {
  display: block;

  --h1-color: var(--c-carbon-100);
}

#privacy-policy {
  margin-block-start: 120px;
  margin-block-end: 101px;
}

.contact-icon {
  float: left;
  width: 30px;
}

.contact-text {
  display: inline-block;
  line-height: 1.4;
}

ul,
ol {
  margin: 1.6em 0;

  li.ui-paragraph {
    margin-block-end: 0;
  }

  li + li {
    margin-block-start: 16px;
  }
}

ul {
  font-family: var(--p3-font);
  font-size: var(--p3-size);
  line-height: var(--p3-leading);
  letter-spacing: var(--p3-tracking);
  font-weight: var(--p3-weight);
  color: var(--p3-color);
  text-transform: var(--p3-transform);
}

strong,
b {
  font-weight: 500;
}

p strong,
p b {
  color: var(--c-carbon-100);
}

.wrapper {
  line-height: 32px;
  min-height: 100%;
  padding-top: 100px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
}

pre {
  min-width: 0;
  overflow-x: auto;
  margin: 1.6em 0;
  border-radius: 4px;
  color: #16161d;
  background-color: #f8f8f8;

  &[class*='language-'] {
    margin: 1.6em 0;
  }

  span {
    display: inline;
  }

  code {
    width: 100%;
    display: block;
    min-width: 0;
    padding-inline-end: 1em;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }
}

code {
  padding: 1px 4px 2px;
  background-color: #ecf4fb;
  color: #16161d;
  border-radius: 3px;
}
