@use '../../../global/vars' as *;

#top {
  background: transparent;
  background-size: cover, 100%;
  background-position: 50% 50%;
  color: white;
  text-align: center;
  padding-block-start: 144px;
  padding-block-end: 196px;
  margin-block-end: 200px;
  position: relative;
  overflow: hidden;
  padding-bottom: 69px;
    min-height: calc(100vh - 62px);

  @media screen and (max-width: $screen-xs-max) {
    padding-block-start: 72px;
    padding-block-end: 98px;
    margin-block-end: 100px;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  #bg,
  #shapes {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  #bg {
    opacity: 0;
    animation: fadeIn 2s ease-in 2s forwards;

    @media screen and (max-width: $screen-xs-max) {
      background: radial-gradient(
        128.98% 148.15% at 50% 50%,
        rgba(#10183f, 0.5) 11.21%,
        rgba(#004489, 0.5) 100%
      );
    }
  }

  .ui-container > * {
    position: relative;
  }

  h1 {
    margin-block-start: 0;
    margin-block-end: 0.25em;
    font-size: 96px;
    line-height: 1em;
    letter-spacing: -0.04em;

    span {
      display: block;
    }
  }

  p {
    max-width: 448px;
    margin: 0 auto 40px;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: -0.02em;
  }

  .ui-button {
    &:focus {
      box-shadow: unset;
    }

    &:first-child {
      margin-right: 0.75em;
    }

    span {
      letter-spacing: 0;
      font-weight: bold;
      margin-inline-start: 0.5em;
    }

    &.ui-button-light {
      --c-text: #11193f;

      &:hover {
        --c-text: #404b80;
      }
    }

    &.ui-button-fill {
      --c-background: rgba(255, 255, 255, 0.15);
      backdrop-filter: blur(12px);
      -webkit-backdrop-filter: blur(12px);
    }
  }

  @media screen and (max-width: 400px) {
    h1 {
      font-size: 80px;
    }

    .ui-button {
      margin-block-end: 16px;
    }
  }

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .reveal {
    opacity: 0;
    animation: fadeInUp 0.8s ease-out forwards;
  }

  h1 span.reveal {
    &:nth-child(1) {
      animation-delay: 0.5s;
    }
    &:nth-child(2) {
      animation-delay: 0.7s;
    }
    &:nth-child(3) {
      animation-delay: 0.9s;
    }
  }
  p.reveal {
    animation-delay: 1.2s;
  }
  .btns .ui-button.reveal {
    &:nth-child(1) {
      animation-delay: 1.5s;
    }
    &:nth-child(2) {
      animation-delay: 1.7s;
    }
  }

  .btns.sc-top-parallax .ui-button.reveal.sc-top-parallax {
    height: 50px;
    width: 180px;
  }
}

#homing-particles {
  background-color: black;
}

.section-overlay {
  position: absolute;
    top: 0;
    height: calc(100vh - 62px);
    min-height: 700px;
    width: 100%;
    z-index: 0;
}

.section-overlay.youtube {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  transform: translate(-50%, -50%);
}

.section-overlay.media {
  z-index: -250;
}

.section-overlay img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  min-height: 100%;
  min-width: 100%;
}
