@use 'vars';
@use 'prism' as *;

span,
a,
sup,
svg {
  display: inline-block;
}

a {
  text-decoration: none;
}

h1,
h1,
h3,
h4,
h5,
h6 {
  a {
    color: inherit;
  }
}

body {
  font-family: var(--f-family-text);
  margin: 0;
}

html,
body {
  scroll-padding-top: 80px;
}

img {
  display: block;
  object-fit: contain;
  height: auto;
}

button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

em {
  font-style: italic;
}

code {
  font-family: 'Roboto Mono', 'Source Code Pro', monospace;
}

.no-scroll {
  overflow: hidden;
}

.arrow {
  letter-spacing: 0;
  white-space: pre;
  display: inline-flex;
}

a.link,
p a,
li a {
  color: var(--c-capacitor-blue);
  transition: opacity 0.2s ease-out;

  &:hover {
    opacity: 0.7;
  }
}

landing-page {
  #top .heading-group img.sc-landing-page {
    width: 214px;
  }

  #top > .ui-container > .heading-group > .link {
    margin-left: 5px;
    margin-bottom: 14px;
  }

  .ui-col.ui-col-6.ui-col-sm-3.sc-landing-page:nth-child(1) {
    background: #cfecfa;
  }

  .ui-col.ui-col-6.ui-col-sm-3.sc-landing-page:nth-child(2) {
    background: #f5caeb;
  }

  .ui-col.ui-col-6.ui-col-sm-3.sc-landing-page:nth-child(3) {
    background: #fdcbdd;
  }

  .ui-col.ui-col-6.ui-col-sm-3.sc-landing-page:nth-child(4) {
    background: #b7d2fa
  }

  .ui-col.ui-col-6.ui-col-sm-3.sc-landing-page:nth-child(5) {
    background: #cfcfcf;
  }

  .ui-col.ui-col-6.ui-col-sm-3.sc-landing-page:nth-child(6) {
    background: #e1edff;
  }

  .ui-col.ui-col-6.ui-col-sm-3.sc-landing-page:nth-child(7) {
    background: #fbdbd0;
  }

  .ui-col.ui-col-6.ui-col-sm-3.sc-landing-page:nth-child(8) {
    background: #cceeff;
  }

  #features.sc-landing-page .heading-group.sc-landing-page .ui-heading.sc-landing-page {
    max-width: 500px;
  }

  #native.sc-landing-page .heading-group.sc-landing-page {
    max-width: 500px;
  }

  #cta.sc-landing-page .ui-heading-2.sc-landing-page {
    max-width: 44rem;
  }
}
