@use 'vars';
@use 'prism' as *;

capacitor-site-footer {
    @import '../components/capacitor-site-footer/capacitor-site-footer';
  }

  capacitor-site-header {
    @import '../components/capacitor-site-header/capacitor-site-header';
  }

  capacitor-site {
    @import '../components/capacitor-site/capacitor-site';
  }

  code-snippet {
    @import '../components/code-snippet/code-snippet';
  }

  code-tabs {
    @import '../components/code-tabs/code-tabs';
  }

  more-button {
    @import '../components/more-button/more-button';
  }

  newsletter-signup-parallax {
    @import '../components/newsletter-signup-parallax/newsletter-signup-parallax';
  }

  newsletter-signup {
    @import '../components/newsletter-signup/newsletter-signup';
  }

  pre-footer {
    @import '../components/pre-footer/pre-footer';
  }

  // Pages
  blog-page {
    @import '../pages/blog-page/blog-page';

    blog-pagination {
        @import '../pages/blog-page/components/blog-pagination/blog-pagination';
    }

    blog-post {
        @import '../pages/blog-page/components/blog-post/blog-post';
    }

    blog-subnav {
        @import '../pages/blog-page/components/blog-subnav/blog-subnav';
    }
  }

  community-page {
    @import '../pages/community-page/community-page';
  }

  enterprise-page {
    @import '../pages/enterprise-page/enterprise-page';

    enterprise-subnav {
        @import '../pages/enterprise-page/components/enterprise-subnav';
    }
  }

  landing-page {
    @import '../pages/landing-page/landing-page';

    top-parallax {
        @import '../pages/landing-page/components/top-parallax';
    }
  }

  not-found-page {
    @import '../pages/not-found-page/not-found-page';
  }

  privacy-policy-page {
    @import '../pages/privacy-policy-page/privacy-policy-page';
  }

  solution-page {
    @import '../pages/solution-page/solution-page';
  }

  terms-service-page {
    @import '../pages/terms-service-page/terms-service-page';
  }

@import 'style'
