:host {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .rss-link {
    margin: 0 auto;
    margin-top: 14px;
    margin-bottom: 14px;
  }
  .link {
    display: flex;
    align-items: center;
    color: var(--c-lavender-70);

    &.back {
      margin-inline-end: var(--space-1);
    }
    &.forward {
      margin-inline-start: var(--space-1);
    }
  }
}
